$first-color: #105385;
$second-color: #19899a;
$third-color: #24d1b5;

.fondo-inicial {
  background: linear-gradient(
    22deg,
    $third-color 17%,
    $second-color 97%,
    $first-color 100%
  );
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
